<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- API 33+ 读取其他 App 音频需要；读取自建音频无需权限（§12.4） -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".XingyunApp"
        android:allowBackup="true"
        android:label="星云音乐"
        android:supportsRtl="true"
        android:theme="@style/Theme.XingyunMusic">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
